{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/index.js') }}"> </script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}

{% block body %}
    <div class="row main">
            <p class="header"> Prioritize<span>.</span></p>
            <a href="/auth/register"><button type="button" class="btn btn-primary button">Sign up</button></a>      
    </div>
    <div class="row githubbuttons text-center">
        <a class="github-button" href="https://github.com/harshays" data-style="mega">Follow @harshays</a>
    </div>
{% endblock %}

